In [ ]:
# Import Library

import pandas as pd
import numpy as np

In [ ]:
df_final = pd.read_csv('/content/df_final.csv')

In [ ]:
df_final

,hotel_id,hotel_name,city,country,star_rating,score_overall,review_text,user_gender,age_group,traveller_type,join_date,sentiment_score,sentiment_label,join_year,join_month
0,1,The Azure Tower,New York,United States,5,8.7,Practice reduce young our because machine. Rec...,Female,25-34,Solo,2021-03-21,0.100000,Neutral,2021,2021-03
1,1,The Azure Tower,New York,United States,5,8.7,Summer leader sea. Civil morning operation amo...,Female,55+,Solo,2023-10-05,0.022222,Neutral,2023,2023-10
2,1,The Azure Tower,New York,United States,5,8.8,Apply need explain movement wait above bar. Tu...,Male,25-34,Business,2021-12-18,0.000000,Neutral,2021,2021-12
3,1,The Azure Tower,New York,United States,5,8.8,Soldier job southern back check. Fall check pu...,Other,18-24,Couple,2023-02-02,0.333333,Positive,2023,2023-02
4,1,The Azure Tower,New York,United States,5,8.7,Various get next environment. This them positi...,Female,35-44,Business,2024-12-10,0.056818,Neutral,2024,2024-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,25,The Kiwi Grand,Wellington,New Zealand,5,9.1,National travel race trouble nor whole bank. M...,Female,35-44,Couple,2023-09-05,-0.003571,Neutral,2023,2023-09
49996,25,The Kiwi Grand,Wellington,New Zealand,5,9.0,Natural fish body seem home. Check book carry ...,Male,18-24,Family,2020-09-14,0.100000,Positive,2020,2020-09
49997,25,The Kiwi Grand,Wellington,New Zealand,5,8.9,Interesting outside question question forget. ...,Male,25-34,Couple,2022-07-12,-0.037500,Neutral,2022,2022-07
49998,25,The Kiwi Grand,Wellington,New Zealand,5,9.0,Dinner apply or mention various.\nSince defens...,Female,55+,Couple,2022-06-13,0.065000,Neutral,2022,2022-06
49999,25,The Kiwi Grand,Wellington,New Zealand,5,8.9,Analysis miss continue him bill according cond...,Other,25-34,Solo,2024-02-09,0.600000,Positive,2024,2024-02

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   hotel_id         50000 non-null  int64
 1   hotel_name       50000 non-null  object
 2   city             50000 non-null  object
 3   country          50000 non-null  object
 4   star_rating      50000 non-null  int64
 5   score_overall    50000 non-null  float64
 6   review_text      50000 non-null  object
 7   user_gender      50000 non-null  object
 8   age_group        50000 non-null  object
 9   traveller_type   50000 non-null  object
 10  join_date        50000 non-null  object
 11  sentiment_score  50000 non-null  float64
 12  sentiment_label  50000 non-null  object
 13  join_year        50000 non-null  int64
 14  join_month       50000 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 5.7+ MB

In [ ]:
# ganti nilai untuk fitur score
df_final['kategori'] = np.where(df_final['score_overall'] <= 8.9, "buruk", "baik")

In [ ]:
# ganti nilai untuk fitur age_group
conditions = [
    (df_final['age_group'] == '18-24' ),
    (df_final['age_group'] == '25-34' ),
    (df_final['age_group'] == '35-44' ),
    (df_final['age_group'] == '45-54' ),
    (df_final['age_group'] == '55+')
]

choices = ['1', '2', '3', '4', '5']

df_final["age"] = np.select(conditions, choices, default='0')

print(df_final)

       hotel_id       hotel_name        city        country  star_rating  \
0             1  The Azure Tower    New York  United States            5
1             1  The Azure Tower    New York  United States            5
2             1  The Azure Tower    New York  United States            5
3             1  The Azure Tower    New York  United States            5
4             1  The Azure Tower    New York  United States            5
...         ...              ...         ...            ...          ...
49995        25   The Kiwi Grand  Wellington    New Zealand            5
49996        25   The Kiwi Grand  Wellington    New Zealand            5
49997        25   The Kiwi Grand  Wellington    New Zealand            5
49998        25   The Kiwi Grand  Wellington    New Zealand            5
49999        25   The Kiwi Grand  Wellington    New Zealand            5

       score_overall                                        review_text  \
0                8.7  Practice reduce young our because machine. Rec...
1                8.7  Summer leader sea. Civil morning operation amo...
2                8.8  Apply need explain movement wait above bar. Tu...
3                8.8  Soldier job southern back check. Fall check pu...
4                8.7  Various get next environment. This them positi...
...              ...                                                ...
49995            9.1  National travel race trouble nor whole bank. M...
49996            9.0  Natural fish body seem home. Check book carry ...
49997            8.9  Interesting outside question question forget. ...
49998            9.0  Dinner apply or mention various.\nSince defens...
49999            8.9  Analysis miss continue him bill according cond...

      user_gender age_group traveller_type   join_date  sentiment_score  \
0          Female     25-34           Solo  2021-03-21         0.100000
1          Female       55+           Solo  2023-10-05         0.022222
2            Male     25-34       Business  2021-12-18         0.000000
3           Other     18-24         Couple  2023-02-02         0.333333
4          Female     35-44       Business  2024-12-10         0.056818
...           ...       ...            ...         ...              ...
49995      Female     35-44         Couple  2023-09-05        -0.003571
49996        Male     18-24         Family  2020-09-14         0.100000
49997        Male     25-34         Couple  2022-07-12        -0.037500
49998      Female       55+         Couple  2022-06-13         0.065000
49999       Other     25-34           Solo  2024-02-09         0.600000

      sentiment_label  join_year join_month kategori age
0             Neutral       2021    2021-03    buruk   2
1             Neutral       2023    2023-10    buruk   5
2             Neutral       2021    2021-12    buruk   2
3            Positive       2023    2023-02    buruk   1
4             Neutral       2024    2024-12    buruk   3
...               ...        ...        ...      ...  ..
49995         Neutral       2023    2023-09     baik   3
49996        Positive       2020    2020-09     baik   1
49997         Neutral       2022    2022-07    buruk   2
49998         Neutral       2022    2022-06     baik   5
49999        Positive       2024    2024-02    buruk   2

[50000 rows x 17 columns]

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   hotel_id         50000 non-null  int64
 1   hotel_name       50000 non-null  object
 2   city             50000 non-null  object
 3   country          50000 non-null  object
 4   star_rating      50000 non-null  int64
 5   score_overall    50000 non-null  float64
 6   review_text      50000 non-null  object
 7   user_gender      50000 non-null  object
 8   age_group        50000 non-null  object
 9   traveller_type   50000 non-null  object
 10  join_date        50000 non-null  object
 11  sentiment_score  50000 non-null  float64
 12  sentiment_label  50000 non-null  object
 13  join_year        50000 non-null  int64
 14  join_month       50000 non-null  object
 15  kategori         50000 non-null  object
 16  age              50000 non-null  object
dtypes: float64(2), int64(3), object(12)
memory usage: 6.5+ MB

In [ ]:
df_final.describe()

           hotel_id  star_rating  score_overall  sentiment_score     join_year
count  50000.000000      50000.0   50000.000000     50000.000000  50000.000000
mean      13.051100          5.0       8.943460         0.086496   2022.677400
std        7.203808          0.0       0.180878         0.190280      1.469576
min        1.000000          5.0       8.200000        -1.000000   2020.000000
25%        7.000000          5.0       8.800000         0.000000   2021.000000
50%       13.000000          5.0       8.900000         0.062500   2023.000000
75%       19.000000          5.0       9.100000         0.200000   2024.000000
max       25.000000          5.0       9.600000         1.000000   2025.000000

In [ ]:
df_final.columns

Index(['hotel_id', 'hotel_name', 'city', 'country', 'star_rating',
       'score_overall', 'review_text', 'user_gender', 'age_group',
       'traveller_type', 'join_date', 'sentiment_score', 'sentiment_label',
       'join_year', 'join_month', 'kategori', 'age'],
      dtype='object')

In [ ]:
from sklearn import preprocessing

# label_encoder object knows
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

df_final['city'] = label_encoder.fit_transform(df_final['city'])
df_final['country'] = label_encoder.fit_transform(df_final['country'])
df_final['user_gender'] = label_encoder.fit_transform(df_final['user_gender'])
df_final['traveller_type'] = label_encoder.fit_transform(df_final['traveller_type'])
df_final['kategori'] = label_encoder.fit_transform(df_final['kategori'])
df_final['age'] = label_encoder.fit_transform(df_final['age'])

In [ ]:
df_final

,hotel_id,hotel_name,city,country,star_rating,score_overall,review_text,user_gender,age_group,traveller_type,join_date,sentiment_score,sentiment_label,join_year,join_month,kategori,age
0,1,The Azure Tower,14,24,5,8.7,Practice reduce young our because machine. Rec...,0,25-34,3,2021-03-21,0.100000,Neutral,2021,2021-03,1,1
1,1,The Azure Tower,14,24,5,8.7,Summer leader sea. Civil morning operation amo...,0,55+,3,2023-10-05,0.022222,Neutral,2023,2023-10,1,4
2,1,The Azure Tower,14,24,5,8.8,Apply need explain movement wait above bar. Tu...,1,25-34,0,2021-12-18,0.000000,Neutral,2021,2021-12,1,1
3,1,The Azure Tower,14,24,5,8.8,Soldier job southern back check. Fall check pu...,2,18-24,1,2023-02-02,0.333333,Positive,2023,2023-02,1,0
4,1,The Azure Tower,14,24,5,8.7,Various get next environment. This them positi...,0,35-44,0,2024-12-10,0.056818,Neutral,2024,2024-12,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,25,The Kiwi Grand,24,13,5,9.1,National travel race trouble nor whole bank. M...,0,35-44,1,2023-09-05,-0.003571,Neutral,2023,2023-09,0,2
49996,25,The Kiwi Grand,24,13,5,9.0,Natural fish body seem home. Check book carry ...,1,18-24,2,2020-09-14,0.100000,Positive,2020,2020-09,0,0
49997,25,The Kiwi Grand,24,13,5,8.9,Interesting outside question question forget. ...,1,25-34,1,2022-07-12,-0.037500,Neutral,2022,2022-07,1,1
49998,25,The Kiwi Grand,24,13,5,9.0,Dinner apply or mention various.\nSince defens...,0,55+,1,2022-06-13,0.065000,Neutral,2022,2022-06,0,4
49999,25,The Kiwi Grand,24,13,5,8.9,Analysis miss continue him bill according cond...,2,25-34,3,2024-02-09,0.600000,Positive,2024,2024-02,1,1

In [ ]:
# ambil beberapa kolom aja
df_new = df_final[['city', 'country', 'user_gender', 'join_year', 'age', 'kategori']]

print(df_new)

       city  country  user_gender  join_year  age  kategori
0        14       24            0       2021    1         1
1        14       24            0       2023    4         1
2        14       24            1       2021    1         1
3        14       24            2       2023    0         1
4        14       24            0       2024    2         1
...     ...      ...          ...        ...  ...       ...
49995    24       13            0       2023    2         0
49996    24       13            1       2020    0         0
49997    24       13            1       2022    1         1
49998    24       13            0       2022    4         0
49999    24       13            2       2024    1         1

[50000 rows x 6 columns]

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   city         50000 non-null  int64
 1   country      50000 non-null  int64
 2   user_gender  50000 non-null  int64
 3   join_year    50000 non-null  int64
 4   age          50000 non-null  int64
 5   kategori     50000 non-null  int64
dtypes: int64(6)
memory usage: 2.3 MB

In [ ]:
df_new.columns

Index(['city', 'country', 'user_gender', 'join_year', 'age', 'kategori'], dtype='object')

In [ ]:
df_new['kategori'].value_counts()

kategori
1    25090
0    24910
Name: count, dtype: int64

In [ ]:
X = df_new[['city', 'country', 'user_gender',
       'join_year', 'age']]

y = df_new['kategori']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=50)

In [ ]:
X_train

       city  country  user_gender  join_year  age
8644      7       22            0       2023    0
1207     14       24            0       2023    2
17965    23        3            2       2023    1
5876     15        6            2       2024    3
21562    19        4            0       2023    1
...     ...      ...          ...        ...  ...
48417    24       13            0       2021    1
22637    11       11            0       2023    4
42891     0       12            1       2023    0
38368     1       20            1       2024    2
14000    16        2            2       2024    2

[30000 rows x 5 columns]

In [ ]:
X_test

       city  country  user_gender  join_year  age
20515    19        4            1       2023    2
42486     0       12            1       2023    4
31440    18       18            1       2021    2
41116     8       21            0       2021    1
48739    24       13            1       2023    1
...     ...      ...          ...        ...  ...
42406     0       12            0       2023    2
8650      7       22            2       2023    4
12822    21        1            2       2023    2
25473    13        8            1       2020    0
16552     3        7            0       2020    0

[20000 rows x 5 columns]

### Modelling Machine Learning

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model1 = DecisionTreeClassifier()
model1.fit(X_train, y_train)

print("Model1 DecisionTreeClassifier: ")
print(model1.score(X_test, y_test))

Model1 DecisionTreeClassifier:
0.7042

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model2 = RandomForestClassifier()
model2.fit(X_train, y_train)

print("Model2 RandomForestClassifier: ")
print(model2.score(X_test, y_test))

Model2 RandomForestClassifier:
0.70225

In [ ]:
from sklearn.svm import SVC

model3 = SVC()
model3.fit(X_train, y_train)

print("Model3 SVC: ")
print(model3.score(X_test, y_test))

Model3 SVC:
0.50095

In [ ]:
# model naive baiyes
# impor pustaka yang dibutuhkan
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.datasets import load_iris # Contoh dataset

# buat dan latih model KNN
# Inisialisasi model KNN dengan nilai K=3 (misal)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# lakukan prediksi pada data uji
y_pred = knn.predict(X_test)

# evaluasi model
# Hitung akurasi model
accuracy = accuracy_score(y_test, y_pred)
print(f'Akurasi model KNN: {accuracy:.4f}')

Akurasi model KNN: 0.6649

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

# model naive baiyes
model_nb = GaussianNB()
model_nb.fit(X_train, y_train) # Melatih model dengan data training

# lakukan prediksi
y_pred = model_nb.predict(X_test)
print("Prediksi Naive Bayes:", y_pred)

# evaluasi model
akurasi = accuracy_score(y_test, y_pred)
print("Akurasi Naive Bayes:", akurasi)

# tampilkan laporan klasifikasi yang lebih detail
print("\nLaporan Klasifikasi:\n", classification_report(y_test, y_pred))

Prediksi Naive Bayes: [1 0 0 ... 1 1 1]
Akurasi Naive Bayes: 0.6407

Laporan Klasifikasi:
               precision    recall  f1-score   support

           0       0.69      0.50      0.58      9981
           1       0.61      0.78      0.68     10019

    accuracy                           0.64     20000
   macro avg       0.65      0.64      0.63     20000
weighted avg       0.65      0.64      0.63     20000